.subjects-p{
    margin: 0px;
    font-size: 15px;
}

.subjects-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

.subject{
    padding: 10px;
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.subject h5{
    display: inline-block;
    margin: 5px 0px;
    padding: 5px 5px;
    font-size: 14px;
    text-decoration: none;
}

.subject p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-top: 1.2rem;
}

.subject-btns{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    
}

.subject-link{
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(105, 116, 198);
    border-radius: 12px;
}

.subject-link:hover{
    background-color: rgb(87, 98, 170);
}


.quizes-container{
    display: grid;
    row-gap: 2px;
  }

#semester{
    width: 240px;
    margin-left: 0.25rem;
}

.add-subject-btn{
    margin-left: 1rem;
    background-color: rgb(105, 116, 198);
    border: none;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
}

.add-subject-btn:hover{
    cursor: pointer;
    background-color: rgb(87, 98, 170);
}

#department{
    margin-left: 0.25rem;
}

.resource-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.resource-card{
    padding: 10px;
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

#link-to-pdf{
    text-decoration: underline;
}

.resource-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-weight: 600;  
}


@media screen and (max-width: 1000px) {
    .subjects-list-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .subjects-list-container{
        grid-template-columns: repeat(1, 1fr);
    }
}