.subjects-p{
    margin: 0px;
    font-size: 15px;
}

.subjects-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

.subject{
    padding: 10px;
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.subject h5{
    display: inline-block;
    margin: 5px 0px;
    padding: 5px 5px;
    font-size: 14px;
    text-decoration: none;
}

.subject p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-top: 1.2rem;
}

.subject-btns{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    height: 20px;
}

.subject-link{
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    padding: 4px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    color: white;
    width: 80px;
    background-color: rgb(105, 116, 198);
    border-radius: 4px;
}

.subject-link:hover{
    background-color: rgb(87, 98, 170);
}
