.contact-links{
    text-decoration: none;
    color: lightskyblue;
}


.homepage{
    display: flex;
}

.homepage-header{
    background-color: ;
    background-image: url('../../assets/home-bg.webp');
    height: 200px;
    /* width: 200px; */
}