.shadow{
    position: absolute;
    bottom: 0;
    background-color: rgb(100, 100, 100);
    height: 10px;
    width: 250px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 12px rgb(100, 100, 100);
    animation: scaling 4s ease-in-out infinite;
}

@keyframes scaling {
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}

.gradient-text {
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, rgb(199, 136, 208), rgb(234, 122, 178));
}

.gradient-text2{
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, rgb(153, 148, 252), rgb(127, 126, 221));
}

.gradient-text3{
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, rgb(127, 126, 221), rgb(88, 87, 166));
}

.animated-text{
  color: rgb(113, 126, 218);
}

.cursor{
  color: rgba(0, 0, 0, 0.112);
}

.contact-links{
    text-decoration: none;
    color: black;
}

.homepage{
    display: flex;
}

.hero-two{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
    margin-top: 5rem;
}

.hero-two-btn{
    background-color: rgb(113, 126, 218);
    /* background-image: linear-gradient(to right, rgb(234, 122, 178), rgb(88, 87, 166)); */
    text-decoration: none;
    border-radius: 30px;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.hero-two-btn p{
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.hero-two-btn:hover{
    transform: scale(1.05);
}



.hero{
    /* position: relative; */
    margin-top: 60px;
    height: 720px;
    width: 100vw;
    /* background-color: rgb(243, 244, 246); */
    background-color: rgb(247, 248, 252);
  }
  
  .hero-one{
    display: flex;
  }
  
  .hero-content{
    color: white;
    height: 350px;
    width: 532px;
    /* position: absolute; */
    margin-left: 8rem;
    margin-top: 6rem;
  }
  
  .container-one{
    font-family: "Inter";
    font-size: 52px;
    font-weight: 700;
    color: black;
  }
  
  .container-two{
    font-family: "Inter";
    font-size: 52px;
    font-weight: 700;
    color: black;
  }
  
  .auto-type-text{
    margin-top: 15px;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    color: rgb(52, 52, 52);
  }
  
  .hero-content-three{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: rgb(103, 103, 108);
  }
  
  .hero-content-four{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: rgb(103, 103, 108)
  }
  
  .hero-desc{
    margin-top: 16px;
    line-height: 30px;
  }
  
  .hero-logo{
    height: 350px;
    width: 532px;
    position: relative;
    /* background-color: black; */
    margin-left: 100px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-logo img{
    width: 67%;
    animation: floating 4s ease-in-out infinite;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  .hero-btns{
    margin-top: 20px;
    display: flex;
  }
  
  .hero-content-btn{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
  
  .random{
    height: 50px;
    width: 330px;
    background-color: white;
    margin-left: 40px;
    border-radius: 10px;
  }
  /* Content-One */
  .contentOne{
    background-color: rgb(105, 116, 198);
    height: 500px;
    width: 100vw;
    display: flex;
    /* justify-content: space-around; */
  }
  
  .contentOne-desc{
    height: 100%;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    width: 50%;
  }

  .contentOne-desc-first{
    font-size: 40px;
    margin-top: 40px;
  }

  .contentOne-desc-second{
    width: 500px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 28px;
    line-height: 40px;
  }

  .contentOne-desc-three{
    width: 500px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 28px;
    line-height: 40px;
  }

  .here{
    color: black;
  }

  .contentOne-img{
    height: 100%;
    width: 50%;
  }
  
  .ganeshji-img{
    width: 100%;
    margin-top: 10%;
  }
  
  .contentTwo{
    background-color: rgb(247, 248, 252);
    height: 860px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .learning-convenient{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
  }

  .learning-convenient p{
    text-align: center;
  }


  .contentTwo-desc{
    color: black;
    height: 100%;
    width: 500px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contentTwo-img{
    background-color: black;
    height: 100%;
    width: 400px;
  }

  .contentTwo-cards{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
  }

  .card{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
  }

  .card-one{
    border-bottom: 5px solid rgb(194, 188, 227);
  }

  .doubts-heading{
    margin-left: 96px;
    margin-top: 40px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
  }

  .doubts-hr{
    width: 270px;
  }

  .doubts-desc{
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 7px;
    padding-top: 6px;
    font-weight: 400;
  }

  .card-two{
    border-bottom: 5px solid rgb(234, 219, 185);
  }

  .subjects-heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;   
    margin-left: 70px;
  }

  .subjects-hr{
    width: 300px;
  }

  .subjects-desc{
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    padding-left: 32px;
    padding-right: 22px;
    padding-top: 6px;
    font-weight: 400;
  }

  .card-three{
    border-bottom: 5px solid rgb(152, 82, 44);
  }

  .quiz-heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;   
    margin-left: 120px;
  }

  .quiz-desc{
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    padding-left: 32px;
    padding-right: 22px;
    padding-top: 6px;
    font-weight: 400;
  }

  .quiz-hr{
    width: 250px;
  }

  .card-four{
    border-bottom: 5px solid rgb(214, 226, 251)
  }

  .tags-heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;   
    margin-left: 120px;
  }

  .tags-desc{
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    padding-left: 28px;
    padding-right: 8px;
    padding-top: 6px;
    font-weight: 400;
  }

  .tags-hr{
    width: 270px;
  }

  .card-five{
    border-bottom: 5px solid rgb(202, 243, 222)
  }

  .resources-heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;   
    margin-left: 150px;
  }

  .resources-hr{
    width: 270px;
  }

  .resources-desc{
    font-family: 'Inter';
    font-size: 22px;
    margin-left: 130px;
    padding-top: 30px;
    font-weight: 400;
  }

  .card-six{
    border-bottom: 5px solid pink
  }

  .code-editor-heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;   
    margin-left: 150px;
  }

  .code-editor-hr{
    width: 270px;
  }

  .code-editor-desc{
    font-family: 'Inter';
    font-size: 22px;
    margin-left: 130px;
    padding-top: 30px;
    font-weight: 400;
  }
  
  .contentThree{
    background-color: rgb(105, 116, 198);
    height: 500px;
    width: 100vw;
    display: flex;
    
  }
  .contentThree-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .contentThree-img img{
    width: 60%;
  }
  .contentThree-heading{
    font-family: "Rubik";
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
  }
  .contentThree-heading div{
    font-size: 2.2rem;
    line-height: 40px;
    font-weight: 500;
    color: white;
    height: fit-content;
  }

  .contentThree-heading div:nth-child(1){
    font-size: 40px;
    margin-bottom: 40px;
  }
  .contentThree-heading div:nth-child(2){
    font-size: 28px;
  }
  
  .footer{
    background-color: rgb(32, 35, 40);
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-left{
    width: 50%;
    display: flex;
    justify-content: space-around;

  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer-logo-bit{
    color: #7B8FD9;
  }
  #footer-logo-bridge{
    color: white;
  }

  .footer-logo p{
    color: rgb(133, 131, 131);
    margin-bottom: 5px;
  }


  .footer-links{
    display: flex;
    flex-direction: column;
  }
  .footer-heading{
    color: white;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 12px;
  }

  .footer-btn{
    text-decoration: none;
  }
  .footer-btn p{
    color: rgb(133, 131, 131);
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .footer-btn p:hover{
    color: rgb(83, 83, 229);
  }
  .footer-sub-heading {
    color: rgb(133, 131, 131);
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .footer-right{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .footer-developer{
    width: 50%;
  }
  .get-touch{
    color: white;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 12px;
  }

  .footer-mail {
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(89, 89, 190); /* Apply color here */
}

.footer-mail p {
    font-size: 0.9rem;
    color: rgb(133, 131, 131);
}

.mail-icon {
    color: rgb(133, 131, 131);
    font-size: 1.6rem;
    margin-right: 6px;
}
.footer-mail:hover{
  color: red;
}

.footer-copyright{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -5px;
}