summary {
    position: relative;
}

summary::marker {
    content: none;
}

summary::before,
summary::after {
    content: '';
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0.75rem;
    transform: translateY(-50%);
}

summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

[open] summary::after {
    transform: rotate(0deg);
}