.admin-dashboard-container .requests{
    display: flex;
    gap: 40px;
}

.instructor-request-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    margin-bottom: 50px;
}

.instructor-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgba(128, 0, 128, 0.329); */
    /* min-width: 150px; */
    border-radius: 5px;
}

::-webkit-scrollbar{
    display: none;
}

.card-header{
    /* background-color: #17191a; */
    background-color: rgb(105, 116, 198);
    padding: 2px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 180px;
    color: white;

}

.card-body{
    padding: 5px 15px;
    /* background-color: #23262852;  */
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 25px;
}

.req-btn-container{
    display: flex;
    justify-content: space-around;
}

.req-btn{
    /* margin-left: 10px; */
    /* background-color: black; */
    background-color: rgb(105, 116, 198);
    border-radius: 30px;
    color: white;
    border: solid 1px white;
    padding: 5px 10px;
}

.req-btn:hover{
    cursor: pointer;
    background-color: rgb(87, 98, 170);
}

.add-dept-input{
    width: 14rem;
}

.add-dept-btn{
    margin-left: 1rem;
    background-color: rgb(105, 116, 198);
    border: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
}

.add-dept-btn:hover{
    cursor: pointer;
    background-color: rgb(87, 98, 170);
}
