.quizes-container{
  display: grid;
  row-gap: 2px;
}
.quiz-main-container {
  margin: 75px;
}



.quiz-name-container {
  display: flex;
  min-height: 80px;
  border: solid 1px rgb(255, 255, 255, 0.5);
  border-radius: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px 20px;
  margin: 10px;
  align-items: center;
}

.quiz-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 15px;
  padding-right: 50px;
}

.quiz-name-one {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
  color: rgb(105, 116, 198);
}

.quiz-name a {
  text-decoration: none;
  color: white;
}

.quiz-name-btn {
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  border: 1px solid white;
  background-color: rgb(105, 116, 198);
  color: white;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
}

.quiz-name-btn:hover {
  cursor: pointer;
  background-color: rgb(87, 98, 170);
}

.quiz-questions-container {
  display: block;
}

.quiz-question {
  border-radius: 10px;
  margin: 10px 0px;
  padding: 15px 35px;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.quiz-question p {
  font-size: 18px;
}

.option-outer {
  margin-bottom: 10px;
  font-size: 18px;
}

.custom-radio {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
}

.custom-radio input:checked + .custom-radio-button {
  background-color: rgb(105, 116, 198);
}

.custom-radio input:checked + .option-outer {
  background-color: green;
}

.custom-radio input:checked + .custom-radio-button:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(105, 116, 198);
}

.quiz-submit-btn {
  font-size: 15px;
  background-color: rgb(105, 116, 198);
  color: white;
  border: 1px solid white;
  font-family: 'Rubik';
  font-weight: 600;
  border-radius: 14px;
  padding: 5px 10px;
  margin-top: 15px;
}

.quiz-submit-btn:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(87, 98, 170);
}

.quiz-submit-btn-2{
  margin-left: 40px;
  margin-top: 10px;
  width: 160px;
  height: 34px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: rgb(105, 116, 198);
  color: white;
  font-family: 'Rubik';
  font-weight: 600;
}

.quiz-submit-btn-2:hover{
  cursor: pointer;
  background-color: rgb(87, 98, 170);
}

.add-quiz-btn {
  padding: 5px 10px;
}

.main-bar-header .add-btn {
  margin: 10px;
  font-size: 12px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: solid 1px white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.main-bar-header .add-btn:hover {
  /* background: linear-gradient(to right, rgb(17, 17, 195), purple); */
  background-color: rgb(200, 200, 200);
  color: black;
}

input {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 2px;
  font-size: 13px;
  padding: 5px;
  color: black;
  background-color: white;
}
textarea {
  color: black;
  background-color: white;
}
.add-quiz-question {
  border: 1px solid rgb(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px;
}

.add-quiz-ans {
  display: flex;
  justify-content: flex-start;
}

.add-quiz-ans label {
  margin-right: 20px;
}

.show-answer:hover {
  cursor: pointer;
}

.result-btn-container {
  display: flex;
}

.delete-quiz {
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.delete-quiz:hover{
  color: grey;
}

.quiz-start-container {
  margin: 100px;
}

.quiz-start-outer{
  /* position: fixed; */
  background-color: rgb(225, 227, 244);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.view-your-results-btn{
  color: white;
  text-decoration: none;
  background-color: rgb(105, 116, 198);
  /* padding: 8px;
  border-radius: 16px; */
  height: 18px;
  padding: 10px;
  margin-top: 9px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 600;
}

.view-your-results-btn:hover{
  background-color: rgb(87, 98, 170);
}

.result-btn-container .add-btn{
  background-color: rgb(105, 116, 198);
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 600;
}

.result-btn-container .add-btn:hover{
  cursor: pointer;
  background-color: rgb(87, 98, 170);
  color: white;
}

@media screen and (max-width: 600px) {
  .quiz-main-container {
    margin: 20px;
    margin-top: 60px;
  }
}
